# Ignore everything by default
*

# Include what we need
!src/
!ios/
!android/
!react-native-fast-cache.podspec
!package.json
!README.md
!LICENSE

# Exclude build artifacts
android/build/
android/.gradle/
ios/build/
*.xcworkspace
*.xcodeproj

# Exclude example app
!example/
__tests__/
node_modules/
vendor/

